.main-content {
    width: 100%;
    height: calc(100% - 128px);
    box-sizing: border-box;
    padding: 32px 8px;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: #FDFDFD;
    overflow-y: auto;
    overflow-x: hidden;
}
