.transaction-modal {
    width: calc(100% - 16px);
    height: auto;
    padding: 0 8px;
    margin-bottom: 8px;
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: 2px solid #5E5E5E;
    color: #5E5E5E;
    box-shadow: 0 10px 20px rgba(202,202,202,0.35), 0 3px 6px rgba(202,202,202,0.35);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 110;
    background-color: white;
    display: block;
}

.transaction-modal .close-button {
    position: absolute;
    right: 8px;
    top: 8px;
}

.transaction-modal .transaction-dollar-value {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

.transaction-modal .transaction-eth-value {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 28px;
}

.transaction-modal .transaction-to-address {
    padding-left: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.transaction-modal .transaction-to-address .send-icon {
    margin-right: 8px;
}

.transaction-modal .transaction-to-address .address-info {
    font-size: 10px;
}

.transaction-modal .transaction-timestamp {
    padding-left: 2px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.transaction-modal .transaction-timestamp .date-icon {
    margin-right: 10px;
}

.transaction-modal .transaction-timestamp .timestamp-info {
    font-size: 10px;
}

.transaction-modal .transaction-description {
    padding-left: 2px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.transaction-modal .transaction-description .description-icon {
    margin-right: 10px;
}

.transaction-modal .transaction-description .description-info {
    font-size: 10px;
}

.transaction-modal .spend-proof {
    padding-left: 2px;
    display: flex;
}

.transaction-modal .spend-proof .spend-icon {
    margin-right: 10px;
}

.transaction-modal .spend-proof .image-proof {
    max-width: 70%;
}
