.charity-preview-container {
    margin-bottom: 8px;
    border-radius: 8px;
    border: 2px solid #00ADEE;
    box-shadow: 0 10px 20px rgba(0,173,238,0.15), 0 6px 6px rgba(0,173,238,0.15);
    box-sizing: border-box;
}

.charity-preview-container .charity-preview-banner {
    width: 100%;
    height: 160px;
    margin-bottom: 12px;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: no-repeat center center;
    background-size: cover;
}

.charity-preview-banner .warning-icon {
    font-size: 30px;
    color: #F8009C;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
}

.charity-preview-banner .white-underlay {
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: 9;
}

.charity-preview-container .charity-name {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 4px;
    font-size: 22px;
    color: #00ADEE;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.charity-preview-container .charity-description {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
