.charity-full-view-container .charity-banner {
    width: 100%;
    height: 196px;
    margin-bottom: 16px;
    background: no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
}

.charity-full-view-container .charity-banner {
    padding: 8px;
}

.charity-full-view-container .charity-name {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 4px;
    font-size: 22px;
    color: #007DAC;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.charity-full-view-container .charity-description {
    width: 100%;
    padding: 0 8px;
    margin-bottom: 12px;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.charity-full-view-container .charity-balance-container {
    padding: 0 8px;
}

.charity-full-view-container .section-description {
    font-weight: 700;
    font-size: 14px;
}

.charity-balance-container .amount-container {
    display: flex;
    justify-content: space-between;
}
