.bottom-nav {
    width: 100%;
    height: 72px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
    display: flex;
    color: #323232;
    background-color: #F2F2F2;
    box-shadow: 0 10px 20px rgba(0,0,0,0.03), 0 6px 6px rgba(0,0,0,0.05);
}

.bottom-nav .menu-section {
    max-width: 50%;
    padding-bottom: 24px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-nav .menu-section .menu-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-section.blue {
    color: white;
    background-color: #00ADEE;
}

.menu-section.purple {
    color: white;
    background-color: #927AC9;
}

.menu-section.orange {
    color: white;
    background-color: #E7921A;
}

.menu-section .menu-item-container .menu-icon {
    font-size: 20px;
}

.menu-section .menu-item-container .menu-title {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.bottom-nav .menu-section .menu-title .highlight {
    width: 6px;
    height: 6px;
    margin-right: 4px;
    position: relative;
    top: -1px;
    display: inline-block;
    background-color: white;
    border-radius: 3px;
}

.menu-section .menu-item-container .menu-title .title {
    display: inline-block;
}
